@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

@font-face {
    font-family: heading;
    src: url(../fonts/iCielBCPortico-Regular.ttf),
        url(../fonts/iCielBCPortico-Regular.woff) format('woff');
}

@font-face {
    font-family: heading2;
    src: url(../fonts/iCielPacifico.otf)
}

:root {
    --font-primary: 'Mulish', sans-serif;
    --color-primary: #fcb53e;
    --color-secon: #546837;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: var(--font-primary);
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

/* ===== Scrollbar CSS ===== */
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, var(--color-primary), var(--color-secon));
    border-radius: 6px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cute2 {
    position: fixed;
    right: 0.8em;
    bottom: 8em;
    width: 100px;
    height: 150px;
    cursor: pointer;
}
.arcontactus-widget.right.arcontactus-message {
    bottom: 16em !important;
}
.arcontactus-widget.right.arcontactus-message {
    right: 1.7em !important;
}
.arcontactus-widget .arcontactus-message-button .static {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    flex-direction: column;
}
.arcontactus-widget.arcontactus-message{
    z-index: 3 !important;
}
/*==== End bullet ====*/
.support-online{position:fixed;z-index:999;left:1.2em;bottom:11em;cursor: pointer;}
.support-online a{position:relative;margin:20px 10px;text-align:left;width:50px;height:50px;display:block}
.support-online .support-content a img{border-radius:50%;overflow:hidden}
.support-online .support-content a:hover img{transform:rotateY(360deg);transition:all .5s linear}
.support-online .btn-support{margin-top:0}
.support-online .support-content a:last-child{margin-bottom:0}
.support-content{padding-bottom:20px;overflow:hidden;border-top-left-radius:40px;border-top-right-radius:40px}
.support-online i{width:100%;height:100%;background:#546837;color:#fff;border-radius:100%;font-size:20px;text-align:center;position:relative;z-index:999;display:flex;align-items:center;justify-content:center}
.support-online i img{filter:brightness(0) saturate(100%) invert(93%) sepia(93%) saturate(0) hue-rotate(298deg) brightness(107%) contrast(106%)}
.support-online a{display:block}
.support-online a span{border-radius:2px;text-align:center;background:#67b634;padding:9px;display:none;width:180px;margin-left:10px;position:absolute;color:#fff;z-index:999;top:0;left:40px;-webkit-transition:all .2s ease-in-out 0s;transition:all .2s ease-in-out 0s;-webkit-animation:headerAnimation .7s 1;animation:headerAnimation .7s 1}
.support-online a:hover span{display:block}
.support-online a span:before{content:"";width:0;height:0;border-style:solid;border-width:10px 10px 10px 0;border-color:transparent #67b634 transparent transparent;position:absolute;left:-10px;top:10px}
.support-online .kenit-alo-circle-fill{width:65px;height:65px;top:-7px;position:absolute;border-radius:100%;border:2px solid transparent;background-color:#54683771;opacity:.75;right:-8px}
.support-online .kenit-alo-circle{width:60px;height:60px;top:-5px;right:-5px;position:absolute;background-color:transparent;border-radius:100%;border:2px solid rgba(30,30,30,.4);border-color:#546837;opacity:.5}
.support-online .support-online .btn-support{cursor:pointer}
.support-online .mes i{background:orange}
.support-online .sms i{background:red}
.support-online .call-now i{background:green}

.btn-frame{display:block;width:50px;height:50px;cursor:pointer;margin-bottom:20px;position:relative}
.btn-frame i{width:50px;height:50px;border-radius:50%;background:var(--color-secon);position:relative;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.btn-frame i img{vertical-align:middle;width:70%}
.btn-frame .animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.btn-frame .kenit-alo-circle{width:60px;height:60px;top:-5px;right:-5px;position:absolute;background-color:transparent;border-radius:100%;border:2px solid rgba(32, 182, 82, 0.8);border-color:var(--color-secon);opacity:.5}
.btn-frame .zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.btn-frame .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.btn-frame .kenit-alo-circle-fill{width:60px;height:60px;top:-5px;right:-5px;position:absolute;border-radius:100%;border:2px solid transparent;background-color:#47572e65;opacity:.4}
.btn-frame .pulse{-webkit-animation-name:pulse;animation-name:pulse}


.hotline-phone-ring-wrap{position:fixed;bottom:5em;left:0;z-index:100}
.hotline-phone-ring{position:relative;visibility:visible;background-color:transparent;width:110px;height:110px;cursor:pointer;z-index:11;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0);transition:visibility .5s;left:0;bottom:0;display:block}
.hotline-phone-ring-circle{width:85px;height:85px;top:10px;left:10px;position:absolute;background-color:transparent;border-radius:100%;border:2px solid #e60808;-webkit-animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;transition:all .5s;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;opacity:.5}
.hotline-phone-ring-circle-fill{width:55px;height:55px;top:25px;left:25px;position:absolute;background-color:rgba(230,8,8,.7);border-radius:100%;border:2px solid transparent;-webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;transition:all .5s;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}
.hotline-phone-ring-img-circle{background-color:#e60808;width:33px;height:33px;top:37px;left:37px;position:absolute;background-size:20px;border-radius:100%;border:2px solid transparent;-webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;align-items:center;justify-content:center}
.hotline-phone-ring-img-circle .pps-btn-img{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.hotline-phone-ring-img-circle .pps-btn-img img{width:20px;height:20px}
.hotline-bar{position:absolute;background:rgba(230,8,8,.75);height:40px;width:180px;line-height:40px;border-radius:3px;padding:0 10px;background-size:100%;cursor:pointer;transition:all .8s;-webkit-transition:all .8s;z-index:9;box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.1);border-radius:50px!important;left:33px;bottom:37px}
.hotline-bar>a{color:#fff;text-decoration:none;font-size:15px;font-weight:700;text-indent:50px;display:block;letter-spacing:1px;line-height:40px;font-family:Arial}
@keyframes phonering-alo-circle-anim{
0%{-webkit-transform:rotate(0) scale(.5) skew(1deg);-webkit-opacity:.1}
30%{-webkit-transform:rotate(0) scale(.7) skew(1deg);-webkit-opacity:.5}
100%{-webkit-transform:rotate(0) scale(1) skew(1deg);-webkit-opacity:.1}
}
@keyframes phonering-alo-circle-fill-anim{
0%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.6}
50%{-webkit-transform:rotate(0) scale(1) skew(1deg);opacity:.6}
100%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.6}
}
@keyframes phonering-alo-circle-img-anim{
0%{-webkit-transform:rotate(0) scale(1) skew(1deg)}
10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}
20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}
30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}
40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}
50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}
100%{-webkit-transform:rotate(0) scale(1) skew(1deg)}
}
/* ===== Scrollbar CSS ===== */
#pagetop {
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 99;
    cursor: pointer;
    display: none;
    padding: 15px;
    border-radius: 50%;
    background: var(--color-primary);
    transition: 0.2s all;
    opacity: 0.8;
}

#pagetop::after {
    display: block;
    content: " ";
    position: absolute;
    width: 105%;
    height: 105%;
    filter: blur(24px);
    background: var(--color-primary);
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* animation: arrows 1.5s linear infinite; */
}

/* #pagetop i {
    font-size: 1.5rem;
    color: var(--color-secon);
    position: relative;
    z-index: 2;
} */
.gg-arrow-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px
}

.gg-arrow-up::after,
.gg-arrow-up::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 4px
}

.gg-arrow-up::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 7px
}

.gg-arrow-up::before {
    width: 2px;
    height: 16px;
    left: 10px;
    background: currentColor
}

#pagetop:hover {
    opacity: 1;
}

@keyframes arrows {
    50% {
        scale: 1.2;
    }

    100% {
        scale: 1.3;
    }
}

.wrap-content {
    max-width: 1300px;
    margin: 0 auto;
}

.slider {
    overflow: hidden;
    cursor: pointer;
}

.slider__item img {
    width: 100%;
    height: auto;
    max-height: 934px;
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}
.menu.active {
    left: 0;
}

.menu .wrap-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* overflow: visible!important; */

}

.menu__nav {
    background: url(../images/album_bg.jpg);
    width: calc(100% - 150px);
    margin-right: auto;
    margin-bottom: 0;
    transition: 0.2s linear;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
}

.menu__nav.active {
    height: 100%;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.menu__nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.menu__nav ul li a {
    text-decoration: none;
    display: block;
    position: relative;
    font-family: heading, sans-serif;
    /* font-size: 20px; */
    /* font-size: 1.0625rem;
    font-size: clamp(1.0625rem, 1.025rem + 0.1875vw, 1.25rem); */
    font-size: min(1.4vw, 20px);
    line-height: 2;
    color: var(--color-primary);
    padding: 0 6px;
    filter: drop-shadow(2px 3px 1px #000);
    text-transform: uppercase;
    text-shadow: #47572e 2px 0 0, #47572e 1.75517px 0.958851px 0, #47572e 1.0806px 1.68294px 0, #47572e 0.141474px 1.99499px 0, #47572e -0.832294px 1.81859px 0, #47572e -1.60229px 1.19694px 0, #47572e -1.97998px 0.28224px 0, #47572e -1.87291px -0.701566px 0, #47572e -1.30729px -1.5136px 0, #47572e -0.421592px -1.95506px 0, #47572e 0.567324px -1.91785px 0, #47572e 1.41734px -1.41108px 0, #47572e 1.92034px -0.558831px 0;
    transition: 0.2s linear;
}

.menu__nav ul li a:hover,
.menu__nav ul li a.active {
    color: #f3e4cd;
}

.menu__right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 160px;
}

.menu__social a img {
    width: 20px;
    height: 20px;
    color: #000000;
    stroke: #000000;
    fill: #000000;
}

.menu__title {
    border: none;
    width: 55px;
    height: 105px;
    background-color: var(--color-primary);
    color: #6c3515;
    transition: .3s ease-in-out;
}

.menu__title:hover {
    background-color: var(--color-secon);
    color: #ffffff;
}

.menu__title p {
    padding: 20px 5px 0 5px;
    font-family: heading, sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -5px;
    text-transform: uppercase;
    text-align: center;
}

.menu__social {
    max-width: 40px;
    max-height: 105px;
    background-color: #6c3515;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.menu__social a svg {
    transition: 0.2s linear;
}

.menu__social a:hover svg {
    fill: #ffffff;
    transform: rotate(30deg);
}

.menu__btn:hover .line {
    stroke: #ffffff;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000000;
    stroke-width: 5.5;
    stroke-linecap: round;
    transition: 0.2s linear;
}

.ham4 .top {
    stroke-dasharray: 40 121;
}

.ham4 .bottom {
    stroke-dasharray: 40 121;
}

.ham4.active .top {
    stroke-dashoffset: -68px;
}

.ham4.active .bottom {
    stroke-dashoffset: -68px;
}

main {
    background-image: url(../images/main_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gg-arrow-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px
}

.gg-arrow-right::after,
.gg-arrow-right::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px
}

.gg-arrow-right::after {
    width: 8px;
    height: 8px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
    bottom: 7px
}

.gg-arrow-right::before {
    width: 16px;
    height: 1px;
    bottom: 10.9px;
    background: currentColor
}

/* ======= About ======= */
.about {
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.about::after {
    content: "";
    background-image: url(../images/about_decor.png);
    background-size: 100% 100%;
    width: 850px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

.about__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    padding-bottom: 20px;
}

.about__content {
    width: 40%;
}

.about__name {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.about__name .name__top {
    font-family: heading, sans-serif;
    /* font-size: 55px; */
    font-size: 1.875rem;
    font-size: clamp(1.875rem, 1.5625rem + 1.5625vw, 3.4375rem);
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    color: #546837;
    margin-bottom: 0;
}

.about__name .name__bottom {
    font-family: heading, sans-serif;
    /* font-size: 75px; */
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.125rem + 1.875vw, 4.375rem);
    line-height: 1;
    text-transform: uppercase;
    color: #fcb53e;
    filter: drop-shadow(4px 6.928px 0 #6c3515);
    text-shadow: #f5efe1 2px 0 0, #f5efe1 1.75517px .958851px 0, #f5efe1 1.0806px 1.68294px 0, #f5efe1 .141474px 1.99499px 0, #f5efe1 -.832294px 1.81859px 0, #f5efe1 -1.60229px 1.19694px 0, #f5efe1 -1.97998px .28224px 0, #f5efe1 -1.87291px -.701566px 0, #f5efe1 -1.30729px -1.5136px 0, #f5efe1 -.421592px -1.95506px 0, #f5efe1 .567324px -1.91785px 0, #f5efe1 1.41734px -1.41108px 0, #f5efe1 1.92034px -.558831px 0;
}

.about__desc {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #292929;
    margin-bottom: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.about__img {
    width: 56%;
    position: relative;
    z-index: 2;
}

.btn__more {
    padding: 10px
}

.btn__more a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 35px;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    z-index: 5;
    text-decoration: none;
}

.btn__more a::after {
    content: '';
    display: block;
    position: absolute;
    width: 130px;
    height: calc(100% + 14px);
    left: calc(0% - 7px);
    top: calc(0% - 7px);
    z-index: -1;
    transition: .4s ease-in-out
}

.btn__more a:hover::after {
    width: calc(100% + 14px)
}

.btn__more a i {
    margin-right: 10px;
}

.btn__more--green a {
    background-color: var(--color-secon);
    border: solid 2px var(--color-secon);
    color: #fff;
}

.btn__more--green a::after {
    border: solid 2px var(--color-secon);
}

.btn__more--or a {
    background-color: var(--color-primary);
    border: solid 2px var(--color-primary);
    color: var(--color-secon);
}

.btn__more--or a::after {
    border: solid 2px var(--color-primary);
}

.btn__more--brown a {
    background-color: #6c3515;
    border: solid 2px #6c3515;
    color: var(--color-primary);
}

.btn__more--brown a::after {
    border: solid 2px #6c3515;
}

/* ======= / About ======= */
.info {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info__logo {
    text-align: center;
    /* -webkit-box-reflect: below 30px; */
}

.info__title {
    font-family: heading2, sans-serif;
    /* font-size: 40px; */
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    line-height: 1;
    z-index: 1;
    position: relative;
    display: inline-block;
}

.info__title--or {
    color: var(--color-primary);
}

.info__title--or::after {
    background: url(../images/item-title_top-or.png) no-repeat;
}

.info__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 45px;
    top: -10px;
    right: -45px;
}

.info__title--nude {
    color: #f3e4cd;
}

.info__title--nude::after {
    background: url(../images/item-title_top-nude.png) no-repeat;
}

.info__name {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    font-family: heading, sans-serif;
    /* font-size: 50px; */
    font-size: 1.875rem;
    font-size: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);
    line-height: 50px;
    text-transform: uppercase;
}

.info__name::after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 62px;
    top: -10px;
    left: -45px;
}

.info__name--green {
    color: #546837;
    filter: drop-shadow(3.5px 6.062px 0 #fcb53e);
    text-shadow: #f3e8d4 2px 0 0,
        #f3e8d4 1.75517px 0.958851px 0,
        #f3e8d4 1.0806px 1.68294px 0,
        #f3e8d4 0.141474px 1.99499px 0,
        #f3e8d4 -0.832294px 1.81859px 0,
        #f3e8d4 -1.60229px 1.19694px 0,
        #f3e8d4 -1.97998px 0.28224px 0,
        #f3e8d4 -1.87291px -0.701566px 0,
        #f3e8d4 -1.30729px -1.5136px 0,
        #f3e8d4 -0.421592px -1.95506px 0,
        #f3e8d4 0.567324px -1.91785px 0,
        #f3e8d4 1.41734px -1.41108px 0,
        #f3e8d4 1.92034px -0.558831px 0;
}

.info__name--green::after {
    background: url(../images/item-title_bottom-green.png) no-repeat;
}

.info__name--or {
    color: #fcb53e;
    text-shadow: #47572e 2px 0 0, #47572e 1.75517px 0.958851px 0, #47572e 1.0806px 1.68294px 0, #47572e 0.141474px 1.99499px 0, #47572e -0.832294px 1.81859px 0, #47572e -1.60229px 1.19694px 0, #47572e -1.97998px 0.28224px 0, #47572e -1.87291px -0.701566px 0, #47572e -1.30729px -1.5136px 0, #47572e -0.421592px -1.95506px 0, #47572e 0.567324px -1.91785px 0, #47572e 1.41734px -1.41108px 0, #47572e 1.92034px -0.558831px 0;
    filter: drop-shadow(3.5px 6.062px 0 #000);
}

.info__name--or::after {
    background: url(../images/item-title_bottom-nude.png) no-repeat;
}

/* ======= Best seller ======= */
.best-seller {
    min-height: 868px;
    background: url(../images/menu_decor.png) no-repeat top 40px left;
    background-size: 100% 100%;
    padding-bottom: 70px;
    overflow: hidden;
}

.bs__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bs__left {
    width: 55%;
    background-image: url(../images/show_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 0;
    position: relative;
    z-index: 2;
}

.bs__left::after {
    content: " ";
    position: absolute;
    display: block;
    width: 400px;
    height: 170px;
    background-image: url(../images/menu_decor1.png);
    background-size: 100% 100%;
    bottom: -7em;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.bs__img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bs__img__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bs__img__content .name {
    text-align: right;
    border-right: 1px solid #ffffff;
    padding-right: 10px;
}

.bs__img__content .name p:nth-child(1) {
    /* font-size: 25px; */
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 1.0375rem + 0.43750000000000006vw, 1.5625rem);
    text-transform: uppercase;
    color: var(--color-primary);
    font-family: heading, sans-serif;
}

.bs__img__content .name p:nth-child(2) {
    font-size: 18px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #ffffff;
}

.bs__img__content .price {
    padding-left: 10px;
    text-align: left;
    /* font-size: 42px; */
    font-size: 1.875rem;
    font-size: clamp(1.875rem, 1.725rem + 0.75vw, 2.625rem);
    font-family: heading, sans-serif;
    text-transform: uppercase;
    color: var(--color-primary);
}

.bs__right {
    width: 55%;
    margin-left: -80px;
    position: relative;
    z-index: 1;
}

.bs__boxlist {
    background: url(../images/menu_bg.png) no-repeat center center;
    background-size: 100% 100%;
    padding: 80px 120px 80px 130px;
    position: relative;
    filter: drop-shadow(4px 6.928px 5px rgba(0, 0, 0, .2));
}

.bs__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    min-height: 83px;
    cursor: pointer;
}

.bs__item.bs__img__content .name {
    border: none;
}

.bs__item .name p:nth-child(1) {
    color: #6c3515;
    transition: 0.2s linear;
}

.bs__item .name p:nth-child(1):hover,
.bs__item .name .active p:nth-child(1) {
    color: var(--color-primary);
}

.bs__item .name p:nth-child(2) {
    color: #000000;
}

.bs__item .name {
    text-align: left;
}

.bs__item .price {
    width: 150px;
    font-family: heading, sans-serif;
    font-size: 22px;
    line-height: 48px;
    color: #546837;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: right;
}

.slick-slide.slick-current.slick-active .bs__item .name p:nth-child(1) {
    color: var(--color-primary);
}

/* ======= / Best seller ======= */

/* ======= Album ======= */
#album {
    background: url(../images/album_bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    padding: 60px 0 90px 0;
}

#album::after {
    content: '';
    display: block;
    width: 480px;
    height: 505px;
    background: url(../images/line.png) no-repeat;
    position: absolute;
    bottom: 300px;
    left: -50px;
    z-index: 0;
}

.album__video {
    position: absolute;
    top: 130px;
    left: calc(50% - 683px);
    z-index: 1;
    width: 770px;
}

.album__video__play {
    position: relative;
}

.album__video__play::after {
    content: '';
    display: block;
    position: absolute;
    width: 130px;
    height: 125px;
    background: url(../images/rotate_text.png) no-repeat;
    bottom: -60px;
    right: -60px;
    animation: rotating 10s linear infinite;
}

.album__video__play .btn__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s linear;
    cursor: pointer;
}

.album__video__play .btn__play:hover {
    opacity: 0.7;
}

.album {
    position: relative;
    min-height: 1220px;
}

.album__item {
    position: absolute;
}

.album__item:nth-child(1) {
    max-width: 380px;
    top: 0;
    right: 0;
    z-index: 1;
}

.album__item:nth-child(2) {
    bottom: 0;
    left: 4em;
    z-index: 1;
}

.album__item:nth-child(3) {
    bottom: 145px;
    right: 28em;
    z-index: 2;
}

.album__item:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 8em;
}

.album__title {
    position: absolute;
    right: 0;
    bottom: 6em;
    z-index: 2;
}

#album::before {
    content: '';
    display: block;
    width: 480px;
    height: 505px;
    background: url(../images/line.png) no-repeat;
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 0;
}

.album__btn {
    margin-top: 40px;
    text-align: right;
}

/* ======= / Album ======= */

/* ======= / Story ======= */
#story {
    padding-top: 5em;
    overflow: hidden;
}

.story {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story__left {
    width: 50%;
    text-align: center;
}

.story__left__slick {
    display: block;
}

.story__left__img {
    margin-top: 2.6em;
    position: relative;
}

.story__more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3em;
}

.story__right {
    width: 35%;
    cursor: pointer;
}

.story__item__img {
    width: fit-content;
}

.story__item__title {
    font-size: 22px;
    letter-spacing: 0;
    line-height: 35px;
    color: #353535;
    font-family: heading2, sans-serif;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
}

/* ======= / Story ======= */
.banner {
    position: relative;
    margin-top: -2em;
}

.banner__box img {
    width: 100%;
    height: auto;
}

.banner__box {
    -webkit-mask-image: url(../images/mask_banner.png);
    mask-image: url(../images/mask_banner.png);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    z-index: 2;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: -1.5em;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/mask-banner_behind.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}

/* Feedback */
#feedback {
    padding: 70px 0;
    background: url(../images/feedback-bg.png) no-repeat top left;
    background-size: 100% 100%;
}

.feedback__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.feedback__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    margin: 0 auto;
    gap: 10px;
}

.feedback__item:hover .feedback__avt {
    border: 5px solid var(--color-primary);
}

.feedback__avt {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid #6c3515;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
}

.feedback__avt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__name .name {
    font-size: 20px;
    line-height: 2;
    color: #090909;
    font-family: heading2, sans-serif;
    -webkit-line-clamp: 1;
    text-transform: capitalize;
}

.feedback__name .title {
    font-size: 16px;
    line-height: 1.5;
    color: #546837;
    font-family: heading, sans-serif;
}

.feedback__desc {
    max-width: 590px;
    min-height: 340px;
    background: url(../images/box_comment.png) no-repeat;
    background-size: 100% 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 120px 80px 80px 95px;
}

.feedback__desc p {
    line-height: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.slick-prev:before,
.slick-next:before {
    width: 60px;
    height: 60px;
    background-color: var(--color-secon);
    border-radius: 100%;
    border: 2px solid var(--color-secon);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.feedback .feedback__list .js-slick-feedback .slick-next:before {
    content: '←';
}

.feedback .feedback__list .js-slick-feedback .slick-prev:before {
    content: '→';
}

.feedback .feedback__list .js-slick-feedback .slick-prev {
    left: -65px;
}

.slick-prev:hover::before,
.slick-next:hover::before {
    background-color: transparent;
    color: var(--color-secon);
}

/* Feedback */

/* Branch */
#branch {
    padding-top: 50px;
    padding-bottom: 150px;
    background-image: url(../images/album_bg.jpg);
    background-size: 100%;
    overflow: hidden;
}

.branch__heading {
    text-align: center;
    margin-bottom: 30px;
}

.branch__heading h3 {
    position: relative;
    display: inline-block;
    font-family: heading, sans-serif;
    filter: drop-shadow(2.5px 4.33px 0 #6c3a21);
    font-size: 45px;
    font-size: clamp(1.875rem, 1.5625rem + 1.5625vw, 3.4375rem);

    letter-spacing: -1px;
    line-height: 1;
    text-transform: uppercase;
    color: #fcb53e;
}

.branch__heading h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 62px;
    background: url(../images/item-title_bottom-nude.png) no-repeat;
    left: -50px;
    bottom: -20px;
    filter: transparent;
}

.branch__heading h3::before {
    content: '';
    display: block;
    width: 32px;
    height: 45px;
    background: url(../images/item-title_top-nude.png) no-repeat;
    position: absolute;
    right: -50px;
    top: 0;
}

.branch__nav {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.branch__nav .nav__item {
    display: inline-block;
    cursor: pointer;
    transition: .3s;
    text-transform: uppercase;
    text-decoration: none;
    font-family: heading, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: #4e6034;
    background-color: #fcb53e;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 0 10px 10px 10px;
    filter: drop-shadow(-5px 5px 0 #6c3a21);
}

.branch__nav .nav__item.active,
.branch__nav .nav__item:hover {
    filter: drop-shadow(0 0 0 #6c3a21);
}

.branch__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.branch__item {
    background: #f1e5cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.branch__item::after {
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-primary);
    border-radius: 15px;
    z-index: 1;
    transition: 0.2s linear;
}

.branch__item:hover::after {
    height: 100%;
}

.branch__item .img {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.branch__item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.branch__item .address__info {
    position: relative;
    z-index: 2;
}

.branch__item .address {
    font-family: heading, sans-serif;
    /* font-size: 20px; */
    font-size: clamp(16px,1.1vw,20px);
    line-height: 1.5;
    color: var(--color-secon);
    transition: .3s ease-in-out;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    transition: 0.2s linear;
}

.branch__item .address:hover {
    color: #ffffff;
}

.branch__item .map {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #663c16;
    cursor: pointer;
}

.branch__item .map p {
    position: relative;
}

.branch__item .map p::after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transition: .4s ease-in-out;
}

.branch__item .map p:hover::after {
    transform: scaleX(1);
}

/* Branch */

/* Footer */
footer {
    position: relative;
    z-index: 2;
    margin-top: -70px;
}

footer::after {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/footer_bg2.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.footer__container {
    background: url(../images/footer_bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* min-height: 520px; */
    -webkit-mask-image: url(../images/footer_mask.png);
    mask-image: url(../images/footer_mask.png);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    padding-top: 100px;
}

.footer__heading {
    padding-top: 20px;
    overflow: hidden;
    text-align: center;
}

.info__title--brown {
    color: #48280c;
}

.info__name--greenft {
    line-height: 1.5;
    filter: drop-shadow(2.5px 4.33px 0 #6c3a21);
    color: #536736;
    text-shadow: #fcb53e 2px 0 0, #fcb53e 1.75517px 0.958851px 0, #fcb53e 1.0806px 1.68294px 0, #fcb53e 0.141474px 1.99499px 0, #fcb53e -0.832294px 1.81859px 0, #fcb53e -1.60229px 1.19694px 0, #fcb53e -1.97998px 0.28224px 0, #fcb53e -1.87291px -0.701566px 0, #fcb53e -1.30729px -1.5136px 0, #fcb53e -0.421592px -1.95506px 0, #fcb53e 0.567324px -1.91785px 0, #fcb53e 1.41734px -1.41108px 0, #fcb53e 1.92034px -0.558831px 0;
}

.info__name--greenft::after {
    content: '';
    display: block;
    width: 32px;
    height: 45px;
    background: url(../images/item-title-brown_right.png) no-repeat;
    position: absolute;
    right: -50px;
    top: -20px;
    left: unset;
}

.info__name--greenft::before {
    content: '';
    display: block;
    width: 40px;
    height: 62px;
    background: url(../images/item-title-brown_left.png) no-repeat;
    position: absolute;
    left: -50px;
    top: -20px;
}

.footer__container .flexbox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
    transition: 0.2s linear;
}

.footer__container .flexbox .col1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 40%;
}

.footer__container .flexbox .col1 .img {
    /* width: 40%; */
}

.footer__container .contact {
    width: 67%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.footer__container .contact .contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer__container .contact .contact__item a {
    color: #000;
    text-decoration: none;
    line-height: 1.3;
    font-size: 14px;
}

.footer__container .flexbox .col2 {
    width: 20%;
}

.footer__title {
    font-size: 15px;
    line-height: 2;
    text-transform: uppercase;
    color: #421c0d;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__container .about-us {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__container .about-us a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

.footer__container .social {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}
.footer__container .social a{
    transition: all .5s linear;
}
.footer__container .social a:hover{
    transform: rotateY(360deg);
}
.footer__container .flexbox .col3 {
    width: 31%;
}

.copyright {
    line-height: 24px;
    color: #8c6119;
    margin-top: 30px;
}

.pd-l {
    padding-left: 3em;
}

/* Footer */

/* Animation */
.scale-img {
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.scale-img img {
    transform: scale(1, 1) rotate(0);
    transition: .5s ease-in-out
}

.scale-img:hover>img {
    transform: scale(1.1, 1.1) rotate(5deg)
}

.hover_sang1 {
    position: relative;
    overflow: hidden
}

.hover_sang1:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    content: '';
    z-index: 10;
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
    transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0)
}

.hover_sang1:hover:before {
    -webkit-transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0);
    transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 120%, 0)
}

.hover_sang2 {
    position: relative;
    overflow: hidden
}

.hover_sang2 {
    position: relative;
    overflow: hidden
}

.hover_sang2:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 10;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg)
}

.hover_sang2:hover:before {
    transition: 1s;
    left: 100%
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2.8);
        transform: scale(2.8);
    }
}

@keyframes blink2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(2.8);
        transform: scale(2.8);
    }
}

@keyframes shake-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }

    10%,
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20%,
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }

    100%,
    50% {
        -moz-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes shake-anim {

    0%,
    100%,
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10%,
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20%,
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
}

@keyframes rotating {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

/* Animation */
/* 866 820:ipad min 768 414:phone 375 360 320 */

@media screen and (max-width: 1280px) {
    .wrap-content {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1024px) {
    .about__box {
        flex-direction: column;
    }

    .about__content,
    .about__img {
        width: 100%;
    }

    .about__img img {
        margin: 0 auto;
        padding-top: 20px;
    }

    .bs__box {
        flex-direction: column;
    }

    .bs__left,
    .bs__right {
        width: 100%;
    }

    .bs__right {
        margin: 0 auto;
    }
    .best-seller {
        min-height: auto;
        background-attachment: fixed;
        background-size: cover;
        background-position: top left;
        padding-bottom: 0;
    }
    .album__video {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .album__video__play .img img {
        width: 100%;
        height: auto;
    }

    .album__item:nth-child(2) {
        bottom: auto;
        left: auto;
        top: 0;
        z-index: 1;
    }

    .album__item:nth-child(3) {
        bottom: 0;
        right: auto;
    }
}

@media screen and (max-width: 866px) {
    .menu{
        top: -100%;
    }
    .menu.active{
        top: 0;
    }
    .menu__nav ul {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu__nav ul li a {
        font-size: 20px;
        text-align: center;
    }

    .menu__right {
        position: fixed;
        top: 0;
        right: 0;
    }

    .menu__nav {
        width: 100%;
    }
    .about::after {
        width: 350px;
        height: 200px;
    }
    .story {
        flex-direction: column;
    }

    .story__left,
    .story__right {
        width: 100%;
    }

    .story__left__img {
        margin-top: 2.6em;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .story__left__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .story__more {
        bottom: 1em;
    }

    .story__item__img {
        padding-top: 20px;
        margin: 0 auto;
    }

    .story__item__img .hover_sang2 {
        width: 100%;
    }

    .story__item__img img {
        width: 100%;
    }

    .branch__list {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    footer::after{
        background-size: cover;
    }
    .footer__container .flexbox {
        flex-direction: column;
        gap: 20px;
    }
    .footer__container {
        background-size: cover;
        mask-size: cover;
        -webkit-mask-size: cover;
    }
    .footer__container .flexbox .col1,
    .footer__container .flexbox .col2,
    .footer__container .flexbox .col3 {
        width: 100%;
    }

    .footer__container .flexbox .col3 a img {
        margin: auto auto;
    }

    .footer__container {
        padding-top: 160px;
    }

    footer {
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {

    .album__item {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important;
        bottom: auto !important;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .album {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    #album::before{
        right: 0;
        width: 100%;
    }
    #album::after{
        left: 0;
        width: 100%;
    }
    .album__video__play::after{
        right: 0;
    }
    .album__item a div {
        width: fit-content !important;
        margin: 0 auto;
    }

    .album__title {
        bottom: 29em;
    }

    .album__btn {
        margin-top: 20px;
        text-align: center;
    }

    .footer__container {
        -webkit-mask-size: cover;
        mask-size: cover;
    }

    footer::after {
        background-size: cover;
    }
}

@media screen and (max-width: 568px) {
    .bs__left{
        background-size: cover;
    }
    .bs__img img {
        width: 50%;
        margin: 0 auto;
    }
    .bs__boxlist {
        padding: 90px 50px 80px 60px;
    }

    .bs__item .price {
        font-size: min(4vw, 15px);
        width: auto;
    }

    .bs__item .name p:nth-child(2) {
        font-size: min(3vw, 15px);
    }

    .bs__img__content .name p:nth-child(1) {
        font-size: min(4vw, 16px);
    }

    .bs__item {
        min-height: 55px;
    }
    .wrap-content {
        padding: 0 10px;
    }
    .banner__box img {
        width: 100%;
        min-height: 225px;
        object-fit: cover;
    }
    .banner::after {
        top: -0.5em;
    }
    #feedback{
        background-size: cover;
        background-position: top left;
    }
}

@media screen and (max-width: 375px) {
    .branch__item{
        padding: 10px;
    }
    .footer__container .flexbox .col1 {
        flex-direction: column;
    }

    .footer__container .social {
        justify-content: center;
    }
}